.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-pointer{
    cursor: pointer;
  }
  .x-close{
    position: absolute;
    left: 7px;
    top: 0px;
      cursor: pointer;
  
  }


  